.header {
  height: calc(100vh - 64px);
  position: sticky;
  flex-direction: column;
  top: 32px;
  max-height: 1300px;
}

@media (max-width: 991.9px) {
  .header {
    z-index: 100;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    top: 0;
  }
}