.navbar {
  height: calc(100vh - 60px);
  position: sticky;
  flex-direction: column;
  top: 25px;
}

.navItems {
  top: 60px;
}

.active{
  background-color: pink;
}

@media (max-width: 530px) {
  .navbar {
    position: static;
    top: 0;
    flex-direction: row;
    align-items: center;
  }
  .navbar {
    height: auto;
  }
}
